<!-- Khai bao kieu du lieu (tập hợp nhiều dữ liệu dùng IEnumerable) -->
<!-- A model IEnumerable<SV18T1021246.DomainModel.Customer> -->
@model SV18T1021246.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Khách hàng";
}
<!-- Default box -->
<div class="box" style="">
    <form id="searchInput" action="~/customer/search">
        <div class="input-group">

            @Html.HiddenFor(m => m.PageSize)

            <input type="text" name="searchValue"
                   class="form-control"
                   placeholder="Nhập tên hoặc địa chỉ khách hàng cần tìm..." 
                   autofocus value="@Model.SearchValue">

            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-info">
                    <i class="fa fa-search"></i>
                </button>
                <a href="~/customer/create" 
                   class="btn btn-flat btn-primary" 
                   style="margin-left:10px">
                    <i class="fa fa-plus"></i>Bổ sung
                </a>
            </span>
        </div>
    </form>
    <div id="searchResult">


    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#searchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return false;
            });
        });
    </script>
}